
html,
body,
header,
#intro {
	height: 100%;
}

/* Customize the navbrand */
.f-title {
    font-family: 'Comfortaa', cursive;
    color: #ffbb33;
    font-weight: 400;
}

.s-title {
    font-family: 'Comfortaa', cursive;
    color: #388e3c;
    font-weight: 400;
    letter-spacing: 4px;
}

.a-title {
    font-family: 'Comfortaa', cursive;
    color: white;
    font-weight: 400;
}

#intro {
	height: 100%;
}

/* Main navigation */
#intro {
	background: url("http://res.cloudinary.com/cmcosta/image/upload/v1532194380/wedding/IMG_0228.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}
